        @charset "UTF-8";
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400&display=swap');
        /*font-family: 'Roboto Slab', serif;*/
        
        * {
            margin: 0px;
            padding: 0px;
        }
        
         :root {
            --cor1: #999999;
            --cor2: #475866;
            --cor3: #4d4d4d;
            --cor4: #678299;
            --cor5: #e5e5e5;
        }
        
        body,
        html {
            font-family: Arial, Helvetica, sans-serif;
            background-color: var(--cor1);
            margin: 0px;
            padding: 0px;
            font-size: 1em;
        }
        
        main {
            width: 80vw;
            margin: auto;
            text-align: justify;
            box-shadow: 0px 0px 5px var(--cor5);
        }
        
        header {
            display: flex;
            background-image: linear-gradient(to right, var(--cor2), var(--cor1));
            align-items: center;
            max-height: 120px;
            overflow: hidden;
        }
        
        header h1 {
            font-family: 'Roboto Slab', serif;
            margin: auto;
            text-align: center;
            text-shadow: 2px 2px 5px #e5e5e5;
        }
        
        header img {
            display: block;
            float: left;
            height: 200px;
            margin-left: 20px;
            padding-bottom: 11px;
        }
        
        div nav {
            display: block;
            float: right;
        }
        
        div nav a {
            text-decoration: none;
            font-size: .6em;
            font-weight: normal;
            color: white;
            padding: 10px;
        }
        
        div nav a:hover {
            background-color: #999999;
            border-radius: 5px;
            transition: .8s;
        }
        
        hr {
            height: 2px;
        }
        
        #quemsomos h2 {
            background-image: linear-gradient(to left, var(--cor2), var(--cor1));
            padding: 10px;
        }
        
        #quemsomos p {
            background-image: linear-gradient(to left, var(--cor1), var(--cor2));
            color: white;
            width: 60%;
            text-align: left;
            padding-top: 10px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 10px;
            text-indent: 20px;
        }
        
        #quemsomos_img {
            display: block;
            background-image: url('imagens/fundo2.jpg');
            background-repeat: no-repeat;
            background-position: right;
            background-size: 60%;
            height: auto;
        }
        
        #img_cel {
            display: none;
        }
        /*Página serviços*/
        
        #menu_burguer {
            display: none;
        }
        
        #areadeatuacao h2 {
            background-image: linear-gradient(to right, var(--cor2), var(--cor1));
            padding: 10px;
        }
        
        #areadeatuacao a:hover {
            background-color: var(--cor2);
            transition: .8s;
        }
        /*daqui para baixo arrumar*/
        
        #areadeatuacao {
            background-image: url('imagens/fundo3esquerda.png');
            background-size: cover;
        }
        
        div h3 {
            padding-top: 20px;
            padding-left: 20px;
            text-align: center;
        }
        
        div #area1,
        #area2 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 20px;
        }
        
        .areas {
            border: 1px solid var(--cor3);
            border-radius: 10px;
            margin: 20px;
            width: 250px;
            box-shadow: inset 100vh 100vh rgba(255, 255, 255, 0.555);
        }
        
        .areas>h3 {
            background-color: #4d4d4d;
            color: white;
            border-radius: 8px 8px 0px 0px;
            margin: 0px;
            width: auto;
            padding: 5px;
            overflow: hidden;
        }
        
        .areas p {
            align-items: center;
            margin: auto;
            text-align: justify;
            padding: 10px;
        }
        
        .areas:hover {
            transform: scale(1.3);
        }
        
        div span {
            font-weight: bolder;
            text-decoration: underline;
        }
        
        footer {
            background-color: var(--cor2);
            padding: 5px;
            text-align: center;
        }
        
        footer>a {
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
        
        @media screen and (max-width:730px) {
            /*Menu burguer*/
            i#menu_burguer {
                display: block;
                float: right;
                color: white;
                text-align: center;
                cursor: pointer;
            }
            #menu_itens {
                display: none;
            }
            nav>a {
                display: block;
                padding: 10px;
                margin: 2px;
                text-decoration: none;
                text-align: center;
                background-color: rgb(73, 73, 73);
                color: whitesmoke;
            }
            nav>a:hover {
                background-color: #999999;
            }
            /*fim menu burguer*/
            /*Index*/
            #quemsomos p {
                background-image: linear-gradient(to left, var(--cor1), var(--cor2));
                color: white;
                width: 90%;
                height: 90%;
                margin: auto;
                text-align: justify;
                padding-top: 15px;
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 20px;
                text-indent: 20px;
            }
            #quemsomos_img {
                background-image: none;
            }
            #img_cel {
                display: block;
                background-image: url('imagens/fundo2.jpg');
                background-repeat: no-repeat;
                background-size: contain;
                width: 98%;
                height: 350px;
                margin: auto;
            }
            /*Fim Index*/
            /* Serviço*/
            #areadeatuacao .areas {
                margin: auto;
                margin-top: 15px;
            }
            div #area1,
            #area2 {
                display: block;
                justify-content: center;
            }
            div#area2 {
                padding-bottom: 20px;
            }
        }